<div class="position-relative hero-portrait" [class.mini-portrait]="miniPortrait">
    <img *ngIf="role != undefined" [src]="'./assets/images/role/' + role + '.png'" class="role" alt="{{role}}">
    <img *ngIf="element != undefined" [src]="'./assets/images/element/' + element + '.png'" class="element" alt="{{element}}">
    <img *ngIf="isArtifact" class="portrait" [class.mini-portrait]="miniPortrait" [src]="code ? artifactImgUrl + code + '_ico.png' : './assets/images/unknown.png'" alt="{{name}}" (error)="onError($event)">
    <img *ngIf="!isArtifact" class="portrait" [class.mini-portrait]="miniPortrait" [src]="code ? heroImgUrl + code + '_s.png' : './assets/images/unknown.png'" alt="{{name}}" (error)="onError($event)">
    <img *ngIf="!isArtifact" class="frame" [class.d-none]="miniPortrait" src="./assets/images/frame.png">
</div>