@import "./../../../../colors.scss";

main {
    min-height: calc(100vh - 56px);
}

.sidenav {
    width: 240px;
}

.is-active {
    color: $e7-text;
    background-color: $e7-primary;
    &:hover,
    &:focus,
    &:active {
        background-color: $e7-primary;
    }
}

.mat-toolbar,
.toolbar-single-row {
    background-color: $neutral-variant-color;
    height: 56px;
}

.mat-drawer {
    background-color: $neutral-variant-color;
    // color: $e7-text;
}

.mat-drawer-inner-container {
    background-color: $neutral-variant-color;
}

.mat-drawer-container {
    min-height: calc(100vh - 56px);
    background-color: $neutral-color;
}

.list-item {
    color: $e7-text;
}
