@import "./../../../../colors.scss";

main {
    min-height: calc(100vh - 56px - 140px);
}

.sidenav {
    width: 240px;
}

.sun {
    color: #ffd740;
}

.moon {
    color: #673ab7;
}

.spacer {
    flex: 1 1 auto;
}

.is-active {
    color: $white !important;
    background-color: var(--highlight);
    &:hover,
    &:focus,
    &:active {
        background-color: var(--highlight) !important;
    }
}
