<mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button (click)="changeTheme(colorTheme == 'light' ? 'dark': 'light')" matTooltip="{{ colorTheme == 'light' ? 'dark': 'light' }} mode">
        <span [ngClass]="colorTheme == 'light' ? 'moon' : 'sun'">
            <fa-icon [icon]="['fas', colorTheme == 'light' ? 'moon' : 'sun']" [fixedWidth]="true"></fa-icon>
        </span>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #drawer class="sidenav" [mode]="sidenavOver ? 'over' : 'side'" [fixedInViewport]="false" [fixedTopGap]="56" [opened]="!sidenavOver">

        <aside>
            <mat-nav-list class="d-flex align-items-start flex-column h-100 p-0 nav-list">
                <a mat-list-item routerLink="/" [routerLinkActive]="['is-active']">
                    <span class="ps-2">Characters</span>
                </a>
                <!-- <a mat-list-item routerLink="/inventory" [routerLinkActive]="['is-active']">
                    <span class="ps-2">Inventory</span>
                </a> -->
            </mat-nav-list>
        </aside>
    </mat-sidenav>

    <mat-sidenav-content>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>