@import "./../../../../colors.scss";

$header-height: 56px;
$footer-height: 85px;

main {
    min-height: calc(100vh - $header-height - $footer-height);
}

.sidenav {
    width: 240px;
}

.is-active {
    color: $e7-text;
    background-color: $e7-primary;
    &:hover,
    &:focus,
    &:active {
        background-color: $e7-primary;
    }
}

.mat-toolbar,
.toolbar-single-row {
    background-color: $accent-dark;
    height: $header-height;
}

.mat-drawer {
    background-color: $accent-dark;
    // color: $e7-text;
}

.mat-drawer-inner-container {
    background-color: $accent-dark;
}

.mat-drawer-container {
    min-height: calc(100vh - $header-height - $footer-height);
    background-color: $primary-dark;
    color: $e7-text;
}

.list-item {
    color: $e7-text;
}
