<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #drawer class="sidenav" [mode]="'over'" [fixedInViewport]="false" [fixedTopGap]="56" [opened]="false">
        <aside>
            <mat-nav-list class="d-flex align-items-start flex-column h-100 p-0">
                <a class="list-item" mat-list-item routerLink="/heroes" [routerLinkActive]="['is-active']">
                    <span class="ps-2">Heroes</span>
                </a>
            </mat-nav-list>
        </aside>
    </mat-sidenav>

    <mat-sidenav-content>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>