<footer class="container">
    <mat-divider></mat-divider>
    <div class="row py-4">
        <div class="col-12">
            <p>Epic Seven is owned by Smilegate and SUPER CREATIVE, who are not affiliated with this site.</p>
            <p>All trademarks, logos and brand names are the property of their respective owners. All company, product and service names used in this website are for identification purposes only. Use of these names, trademarks and brands does not imply endorsement.</p>
        </div>
    </div>
</footer>