@import "./../../../../colors.scss";
p {
    margin: 0;
}
.row-gap {
    row-gap: 0.5rem;
}
.hero-card {
    background: $accent-dark;
    border-radius: 10px;
    min-height: 150px;
    border-bottom: 2px solid rgba($e7-primary, 0%);
    transition: border-bottom 0.25s ease-in-out;
    &:hover {
        border-bottom: 2px solid $e7-primary;
    }
}

.artifact-position {
    bottom: -3px;
    right: -11px;
}

.hero-name {
    font-size: 1.05rem;
    color: $e7-text;
    font-weight: bold;
}

.detail-value {
    font-weight: 500;
}

.tag-container {
    min-height: 70px;
}
