@import "./../../../../colors.scss";

p {
    margin-bottom: 0;
}

.hero-card {
    width: 100%;
    min-height: 140px;
    background: var(--background-aside);
    border: 1px solid var(--border);
    box-shadow: none;
    transition: box-shadow 0.2s ease-in-out;
}

.hero-card:hover {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}

.border-right {
    border-right: 1px solid var(--border);
}
