@import "./../../../../colors.scss";

p {
    margin-bottom: 0;
}

p > span {
    font-weight: bold;
}

.hero-card {
    width: 100%;
    min-height: 140px;
    background: var(--background-aside);
    border: 1px solid var(--border);
    box-shadow: none;
    transition: box-shadow 0.2s ease-in-out;
}

.hero-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 56px;
    background: var(--header);
    color: var(--header-text);
    border-bottom: 1px solid var(--border);
}

.hero-card:hover {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}

.border-right {
    border-right: 1px solid var(--border);
}

.stat {
    height: 18px;
    width: auto;
}

::ng-deep .hero-card-tag-group .mat-chip-list-wrapper {
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    display: inline-block;
}

.artifact-row,
.hero-name-row {
    height: 40px;
}
.tag-row {
    height: 68px;
}

::ng-deep .hero-card-tag-group .mat-standard-chip {
    min-height: 24px;
}

.hero-name-width-fix {
    margin-left: calc(20px + 0.25rem);
}

.hero-card-button {
    font-size: inherit;
}

.highlight {
    color: var(--highlight);
}

::ng-deep .hero-card .mat-select-value {
    color: var(--text) !important;
}
