<div class="hero-card position-relative">
    <div class="hero-card-content pt-3" [class.inactive]="!hero.visible">
        <div class="d-flex justify-content-center align-items-center w-100 pb-2">
            <div class="position-relative">
                <app-portrait [code]="hero.code" [name]="hero.name" [role]="hero.jobCode" [element]="hero.attributeCode" [grade]="hero.grade"></app-portrait>
                <ng-container *ngIf="hero.artifact && hero.artifact.name != ''">
                    <div class="position-absolute artifact" matTooltip="{{hero.artifact.name}} - level {{hero.artifactLevel}}">
                        <app-portrait [code]="hero.artifact.code" [name]="hero.artifact.name" [isArtifact]="true" [miniPortrait]="true"></app-portrait>
                    </div>
                </ng-container>
            </div>
        </div>
        <h6 class="hero-name d-flex justify-content-center align-items-center px-3 mb-0 text-center">{{hero.name}}</h6>
        <div class="d-flex justify-content-center align-items-center text-center py-2">
            <div class="w-100 border-end">
                <div class="mb-1">
                    <p class="mb-0">level</p>
                    <span [class.highlight]="hero.level == 60">{{hero.level == 60 ? 'Max' : hero.level}}</span>
                </div>
                <div class="mb-1">
                    <p class="mb-0">skills</p>
                    <span [class.highlight]="hero.skillsLevel == 15">{{hero.skillsLevel > 0 ? '+' + hero.skillsLevel : hero.skillsLevel}}</span>
                </div>
            </div>
            <div class="w-100 border-right">
                <div class="mb-1">
                    <p class="mb-0">awakening</p>
                    <span [class.highlight]="hero.awakening == 6">{{hero.awakening == 6 ? 'Max' : hero.awakening}}</span>
                </div>
                <div class="mb-1">
                    <p class="mb-0">imprint</p>
                    <span [class.highlight]="hero.imprint == 'SSS'">{{hero.imprint != null ? hero.imprint : 'none'}}</span>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="d-flex justify-content-center gap-1">
        <button mat-button class="flex-fill" (click)="edit()">
            <fa-icon [icon]="['fas', 'pen-to-square']" [fixedWidth]="true" cdkDragHandle></fa-icon>
        </button>
        <button mat-button class="flex-fill" (click)="delete()">
            <fa-icon [icon]="['fas', 'trash']" [fixedWidth]="true" cdkDragHandle></fa-icon>
        </button>
    </div>
</div>