$black: #24292f;
$white: #ffffff;
$red: #cf3a26;

$red-800: #c62828;
$red-800-light: #ff5f52;
$green-800: #2e7d32;
$ligh-blue-800: #0277bd;
$amber-800: #9e8129;
$purple-800: #6a1b9a;
$pink-800: #ad1457;

$background-light: #f6f8fa;
$background-dark: #1c2128;
$background-aside-light: #ffffff;
$background-aside-dark: #22272e;
$text-light: #24292f;
$text-dark: #adbac7;
$border-light: #d8dee4;
$border-dark: #373e47;
$header-light: #24292f;
$header-dark: #2d333b;
$header-text-light: #ffffff;
$header-text-dark: #cdd9e5;

$aux-background-light: rgba(0, 0, 0, 0.04);
$aux-background-dark: rgba(255, 255, 255, 0.1);
$aux-background-field-light: whitesmoke;
$aux-background-field-dark: rgb(85, 85, 85);
$aux-border-field-light: rgba(0, 0, 0, 0.42);
$aux-border-field-dark: rgba(255, 255, 255, 0.5);

html[data-theme="light"] {
    --background: #{$background-light};
    --background-aside: #{$background-aside-light};
    --text: #{$text-light};
    --border: #{$border-light};
    --header: #{$header-dark};
    --header-text: #{$header-text-light};
    --highlight: #{$red-800};
    --chip: #{$background-dark};
    --aux-color: #{$black};
    --aux-background: #{$aux-background-light};
    --aux-background-field: #{$aux-background-field-light};
    --aux-border-field: #{$aux-border-field-light};
}

html[data-theme="dark"] {
    --background: #{$background-dark};
    --background-aside: #{$background-aside-dark};
    --text: #{$text-dark};
    --border: #{$border-dark};
    --header: #{$header-dark};
    --header-text: #{$header-text-dark};
    --highlight: #{$red-800};
    --chip: #{$background-light};
    --aux-color: #{$white};
    --aux-background: #{$aux-background-dark};
    --aux-background-field: #{$aux-background-field-dark};
    --aux-border-field: #{$aux-border-field-dark};
}
