@import "./colors.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  background-color: $primary-dark;
  color: $e7-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $e7-text;
  font-weight: bold;
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b4b4b4;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: #b4b4b4;
  }
  ::-webkit-scrollbar-track {
    background: #b4b4b440;
  }
}

.pointer {
  cursor: pointer;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-dialog {
  .mat-dialog-container {
    background: $accent-dark;
  }
}

.custom-snackbar {
  color: $e7-text;
  background: $accent-dark;
}

.icon {
  width: 25px;
  height: auto;
}

.portrait {
  width: 35px;
  height: auto;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: #bd282d80;
}

.mat-accent .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $e7-text;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.move {
  cursor: move;
}

.mat-chip.mat-standard-chip:focus::after {
  opacity: 0;
}

.mat-chip-list-wrapper {
  justify-content: center;
}
