/* You can add global styles to this file, and also import other style files */
@import "./colors.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  background-color: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: var(--text);
  font-weight: bold;
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b4b4b4;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: #b4b4b4;
  }
}

.icon {
  width: 25px;
  height: auto;
}

.portrait {
  width: 35px;
  height: auto;
}

.selected {
  height: 59.5px;
  width: auto;
}

.pointer {
  cursor: pointer;
}

.mat-cell,
.mat-footer-cell {
  color: var(--text) !important;
}

.mat-table,
.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  background: var(--text) !important;
}

.mat-drawer-side {
  background-color: var(--background-aside) !important;
  border-top: 1px solid var(--border) !important;
  border-right: 1px solid var(--border) !important;
  color: var(--text) !important;
}

.mat-drawer-container {
  min-height: calc(100vh - 56px);
  background-color: var(--background) !important;
  color: var(--text) !important;
}

.mat-divider {
  border-top-color: var(--border) !important;
}

.mat-toolbar {
  background-color: var(--header) !important;
  color: var(--header-text) !important;
  border-bottom: 1px solid var(--border) !important;
}

.mat-toolbar,
.toolbar-single-row {
  height: 56px !important;
}

.mat-list-base .mat-list-item {
  color: var(--text);
  font-size: inherit !important;
}

.mat-checkbox-checkmark-path {
  stroke: white !important;
}

html[data-theme="dark"] .mat-pseudo-checkbox::after,
.mat-pseudo-checkbox::after {
  color: white;
}

.chip-pvp {
  color: $white !important;
  background-color: darken($red-800, 15%) !important;
}

.chip-pve {
  color: $white !important;
  background-color: darken($ligh-blue-800, 15%) !important;
}

.chip-wyvern {
  color: $white;
  background-color: $red-800 !important;
}

.chip-golem {
  color: $white;
  background-color: $green-800 !important;
}

.chip-banshee {
  color: $white;
  background-color: $ligh-blue-800 !important;
}

.chip-caides {
  color: $white;
  background-color: $amber-800 !important;
}

.chip-azimanak {
  color: $white;
  background-color: $purple-800 !important;
}
