@use "@angular/material" as mat;

@import "./colors.scss";

$custom-red-palette: (
    50: $red-800,
    100: $red-800,
    200: $red-800,
    300: $red-800,
    400: $red-800,
    500: $red-800,
    600: $red-800,
    700: $red-800,
    800: $red-800,
    900: $red-800,
    contrast: (
        50: #fff,
        100: #ffffff,
        200: #ffffff,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
    ),
);

$custom-red-light-palette: (
    50: $red-800-light,
    100: $red-800-light,
    200: $red-800-light,
    300: $red-800-light,
    400: $red-800-light,
    500: $red-800-light,
    600: $red-800-light,
    700: $red-800-light,
    800: $red-800-light,
    900: $red-800-light,
    contrast: (
        50: #fff,
        100: #ffffff,
        200: #ffffff,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
    ),
);

@include mat.core();

// Define a light theme
$light-primary: mat.define-palette($custom-red-palette);
$light-accent: mat.define-palette($custom-red-palette);
$light-theme: mat.define-light-theme(
    (
        color: (
            primary: $light-primary,
            accent: $light-accent,
        ),
    )
);

// Define a dark theme
$dark-primary: mat.define-palette($custom-red-palette);
$dark-accent: mat.define-palette($custom-red-light-palette);
$dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: $dark-primary,
            accent: $dark-accent,
        ),
    )
);

html[data-theme="light"] {
    @include mat.all-component-themes($light-theme);
}

html[data-theme="dark"] {
    @include mat.all-component-colors($dark-theme);
}
