$height: 60px;
$width: 60px;

.hero-portrait {
    width: $width;
    height: $height;
}

.mini-portrait {
    width: calc($width / 2);
    height: calc($height / 2);
    padding: 0px;
}

.portrait {
    padding: 3px;
}

.frame,
.portrait {
    width: 100%;
    height: 100%;
}

.zero-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
